*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.App {
  text-align: center;  
   min-height: 200vh;
  background-color: #ED1C25;  
  font-family: Georgia,
  serif;
}

.carousel-item>img {
  max-width: 100%;
  max-height: 100vh;
}
