.App {
  text-align: center;  
   min-height: 200vh;
 background-color: #ED1C25;  
  font-family: Georgia,
  serif;
}

img {
  max-width: 100%;
}

.h3 {
  color: #F1F7EE;
  text-shadow: #000 1px 0 1px;
}
