.carousel-bg{
    text-align: center;
    background-color: #ED1C25;
      min-height: 100vh;    
}

.suurem-pealkiri {
    color: #F1F7EE;
      box-sizing: border-box;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.2;
}

.väiksem-pealkiri {
   color: #000;
     box-sizing: border-box;
     font-size: 1.2em;
     font-weight: 200;
     line-height: 1.1;
}

.tekst {
   color: #000;
     box-sizing: border-box;
     margin-bottom: 1em;
     margin-top: 1em;
     overflow-wrap: break-word;
     word-break: break-word;
}