.App-header {
 -webkit-clip-path: polygon(0 0, 100% 0, 100% 64%, 0 84%);
 clip-path: polygon(0 0, 100% 0, 100% 64%, 0 84%);
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 8vmin);
  color: #F1F7EE;
  font-family: Georgia,
    serif;
  animation: textColorAnimation 25s infinite 0s linear; 
}

.Header-text {
text-shadow: rgb(241, 247, 238) 1px 0 5px;

}

.Header-text2 {
  animation: yourAnimation 17s infinite 0s ease;
  color: #ED1C25;   
}



@keyframes textColorAnimation {
  0% {
    color: #000;
  }

  50% {
    transform: rotate(xx);
    color: #F1F7EE;
  }

  100% {
    transform: rotate(xx);
    color: #000;
  }
}

@keyframes yourAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(xx);
    opacity: 0;
  }
}
