.App-header {
 -webkit-clip-path: polygon(0 0, 100% 0, 100% 64%, 0 84%);
 clip-path: polygon(0 0, 100% 0, 100% 64%, 0 84%);
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #F1F7EE;
  padding-top: 20vh;
}

h1 {
      font-family: Georgia,
      serif;
       font-size: 3em;
       font-weight: 600;
       line-height: 5px;
}

 

h6 {
     font-size: 1.2em;
     font-weight: 200;
}

.Header-text2 {
  color: #ED1C25;   
}

@keyframes yourAnimation {
  0% {

    opacity: 0.2;
  }

  100% {

    opacity: 1;
  }
}

@media screen and (min-width:603px) {

  .App-header {  
    padding-top: 30vh;
    padding-left: 12vw;
  }
}