.App-header {
 -webkit-clip-path: polygon(0 0, 100% 0, 100% 64%, 0 84%);
 clip-path: polygon(0 0, 100% 0, 100% 64%, 0 84%);
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #F1F7EE;
  padding-top: 25vh; 
  padding-left: 4vw;
}

h1 {
    font-size: calc(10px + 8vmin);
      font-family: Georgia,
      serif;
 animation: yourAnimation 4s 1 0s ease-out;
}

h6 {
  animation: yourAnimation 2s 1 0s ease-out;
}


.Header-text2 {
  color: #ED1C25;   
}

.viisnurk {
-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
   background-color: #000;
}
/*
@keyframes textColorAnimation {
  0% {
    color: #F1F7EE;
  }

  50% {
    color: #000;
  }

  100% {
    color: #F1F7EE;
  }
}

@keyframes yourAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
*/
@keyframes yourAnimation {
  0% {
    transform: translateY(-300px);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: rotate(xx) translateY(0px);
  }
}
