.HamburgerMenu {
  background: #000;
  color: #ED1C25;
  animation: textColorAnimation 15s infinite 0s linear;
}

@keyframes textColorAnimation {
  0% {
    color: #000;
  }

  50% {
    transform: rotate(xx);
     color: #ED1C25;
  }

  100% {
    transform: rotate(xx);
    color: #000;
  }
}

