.Tehnikanimekiri {
 background-color: #000000;
 min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-own {
  background-color: #73C2BE;
  color:#000;
  border: 3px solid transparent;
  min-width: 200px;
}

.suurem-pealkiri-hele {
  color: #F1F7EE;
}

.väiksem-pealkiri-hele {
   color: #73C2BE;
}

.tekst-hele {
  color: #F1F7EE;
}

