.Tehnikanimekiri {
 background-color: #000000;
 min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-own {
  background-color: #73C2BE;
  color:#000;
  border: 3px solid transparent;
  min-width: 200px;
}

.suurem-pealkiri-hele {
  color: #F1F7EE;
      box-sizing: border-box;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.2;
      margin: 0;
      padding: 10px 0;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
}

.väiksem-pealkiri-hele {
   color:#FCBF49;
      box-sizing: border-box;
      font-size: 1.2em;
      font-weight: 200;
      line-height: 1.1;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
}

.tekst-hele {
  color: #F1F7EE;
     box-sizing: border-box;
     margin-bottom: 1em;
     margin-top: 1em;
     overflow-wrap: break-word;
     word-break: break-word;
}

